rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isAuthor(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    // 관리게시판 이미지
    match /management/{userId}/{imageId} {
      allow read: if isAuthenticated();
      allow write: if isAuthor(userId)
        && request.resource.size < 5 * 1024 * 1024  // 5MB Limit
        && request.resource.contentType.matches('image/.*');
    }

    // 나눔게시판 이미지
    match /marketplace/{userId}/{imageId} {
      allow read: if isAuthenticated();
      allow write: if isAuthor(userId)
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
